.toolbar {
  position: relative;
  padding: 5px 0;
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--nextui-colors-gray600);
}

.button {
  border: none;
  background-color: transparent;
  color: var(--nextui-colors-gray500);

  display: flex;
  align-items: center;
}

.button.active {
  color: var(--nextui-colors-gray900);
}
